* {
    padding: 0px;
    margin: 0px;
}
body {
    background-color: #eee;
}
.menu {
    text-align: center;
}
.menu > li {
    display: inline-block;
    margin: 1rem;
<<<<<<< HEAD
    background-color: black;
=======
    background-color: blue;    
>>>>>>> 397f6dd3fe99c39c9d608784b2af1fc061a60e90
}
.table {
    margin: 0px auto;
}
.table tr td {
    border: dotted 1px green;
    padding: 1rem;
}
