* {
    padding: 0px;
    margin: 0px;
}
body {
    background-color: #eee;
}
.menu {
    text-align: center;
}
.menu > li {
    display: inline-block;
    margin: 1rem;
    background-color: white;    
}
.table {
    margin: 0px auto;
}
.table tr td {
    border: dotted 1px green;
    padding: 1rem;
}
